<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <link href="/css/styles.css" type="text/css" rel="stylesheet"/>
        <link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
        <link href="/css/bootstrap-theme.min.css" type="text/css" rel="stylesheet"/>
    </head>
    <body>
        <div>
            <!--
            <form>
                <p>Date: <input type="text" id="datepicker"></p>
            </form>
            -->
	       <input type="text" id="datepicker">
        </div>
        <script src="/lib/jquery-2.1.4.min.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <script src="/controllers/scripts.js"></script>
    </body>
</html>