<!DOCTYPE html>
<html land="fi" ng-app='main_module'> <!-- ng-app = Placeholder. Määritetään moduuli (Module kts. kuva), mitä tässä applikaatiossa käytetään. main_module nimi mätsättävä mainModule.js määritellyn nimen kanssa  -->
    <head>
        <meta charset="utf-8">
        <title>Parturikampaamon ajanvaraus</title>
        <link href="/FrontEnd/css/jquery-ui.min.css" type="text/css" rel="stylesheet">
        <link href="/FrontEnd/css/angular-flash.min.css" type="text/css" rel="stylesheet">
        <link href="/FrontEnd/css/bootstrap.min.css" type="text/css" rel="stylesheet">
        <link href="/FrontEnd/css/bootstrap-theme.min.css" type="text/css" rel="stylesheet">
        <link href="/FrontEnd/css/styles.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <div ng-view></div><!-- This is placeholder for our views in this app (ng-view directive) -->
        <script src="/FrontEnd/lib/jquery-2.1.4.min.js"></script> <!-- Angular käyttää jqueryä sisäisesti -->
        <script src="/FrontEnd/lib/jquery-ui.min.js"></script>
        <script src="/FrontEnd/lib/bootstrap.min.js"></script> <!-- NavBaria varten javascript-kirjasto -->
        <script src="/FrontEnd/lib/angular.min.js"></script> <!-- angular core -->
        <script src="/FrontEnd/lib/angular-route.min.js"></script> <!-- angular routter -->
        <script src="/FrontEnd/lib/angular-resource.min.js"></script> <!-- angular resource -->
        <script src="/FrontEnd/lib/angular-flash.min.js"></script> <!-- angular flash -->
        <script src="/FrontEnd/module/mainModule.js"></script> <!-- router -->
        <script src="/FrontEnd/controllers/employeeLoginController.js"></script>
        <script src="/FrontEnd/controllers/employeeReservationsController.js"></script>
        <script src="/FrontEnd/controllers/employeeDataController.js"></script>
        <script src="/FrontEnd/factories/employeeDataFactory.js"></script>
        <script src="/FrontEnd/factories/employeeLoginFactory.js"></script>
        <script src="/FrontEnd/controllers/employeeAddController.js"></script>
        <script src="/FrontEnd/controllers/employeeListFunctionsController.js"></script>
        <script src="/FrontEnd/controllers/employeeServiceMainController.js"></script>
        <script src="/FrontEnd/controllers/employeeAddServiceController.js"></script>
        <script src="/FrontEnd/controllers/employeeEditServiceController.js"></script>
        <script src="/FrontEnd/controllers/employeeDeleteServiceController.js"></script>
        <script src="/FrontEnd/controllers/serviceAddController.js"></script>
        <script src="/FrontEnd/controllers/serviceDataController.js"></script>
        <script src="/FrontEnd/controllers/serviceDeleteEditController.js"></script>
        <script src="/FrontEnd/controllers/employeeAdminLoginController.js"></script>
        <script src="/FrontEnd/controllers/administrativeMainController.js"></script>
        <script src="/FrontEnd/directives/navbar_directive.js"></script>
        <!--<script src="/FrontEnd/directives/navbarcustomer_directive.js"></script>-->
        <script src="/FrontEnd/directives/customerLogin_directive.js"></script>
        <script src="/FrontEnd/lib/localization/datepicker-fi.js"></script>
        <script src="/FrontEnd/controllers/mainController.js"></script>
        <script src="/FrontEnd/controllers/mainPageController.js"></script>
        <script src="/FrontEnd/controllers/reservationSelectServiceController.js"></script>
        <script src="/FrontEnd/controllers/reservationSelectTimeController.js"></script>
        <script src="/FrontEnd/controllers/loginDoneReservationController.js"></script>
        <script src="/FrontEnd/controllers/servicesAndPricesController.js"></script>
        <script src="/FrontEnd/controllers/contactDetailController.js"></script>
        <script src="/FrontEnd/factories/companyDataFactory.js"></script>
        <script src="/FrontEnd/controllers/companyDataController.js"></script>
        <script src="/FrontEnd/controllers/companyAddController.js"></script>
        <script src="/FrontEnd/controllers/employeeDeleteEditController.js"></script>
        <script src="/FrontEnd/controllers/employeeReservationsMainController.js"></script>
        <script src="/FrontEnd/controllers/employeeAbsencesMainController.js"></script>
        <script src="/FrontEnd/controllers/companyDeleteEditController.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js"></script>
    </body>
</html>
