<!DOCTYPE html>
<html land="fi" ng-app='main_module'> <!-- ng-app = Placeholder. Määritetään moduuli (Module kts. kuva), mitä tässä applikaatiossa käytetään. main_module nimi mätsättävä mainModule.js määritellyn nimen kanssa  -->
    <head>
        <meta charset="utf-8">
        <title>Angular Front End</title>
        <link href="/FrontEnd/css/angular-flash.min.css" type="text/css" rel="stylesheet">
        <link href="/FrontEnd/css/bootstrap.min.css" type="text/css" rel="stylesheet">
        <link href="/FrontEnd/css/bootstrap-theme.min.css" type="text/css" rel="stylesheet">
        <link href="/FrontEnd/css/styles.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <!-- This is placeholder for our views in this app (ng-view directive) -->
        <div ng-view></div>
        <script src="/FrontEnd/lib/jquery-2.1.4.min.js"></script> <!-- Angular käyttää jqueryä sisäisesti. Älä käytä suoraan-->
        <script src="/FrontEnd/lib/angular.min.js"></script> <!-- angular core -->
        <script src="/FrontEnd/lib/angular-route.min.js"></script> <!-- angular routter -->
        <script src="/FrontEnd/lib/angular-resource.min.js"></script> <!-- angular resource -->
        <script src="/FrontEnd/lib/angular-flash.min.js"></script> <!-- angular flash -->
        <script src="/FrontEnd/module/mainModule.js"></script> <!-- router -->
        <script src="/FrontEnd/controllers/employeeReservationsController.js"></script>
        <script src="/FrontEnd/controllers/employeeDataController.js"></script>
        <script src="/FrontEnd/factories/employeeDataFactory.js"></script>
        <script src="/FrontEnd/controllers/addEmployeeController.js"></script>
        <script src="/FrontEnd/controllers/listEmployeeFunctionsController.js"></script>
        <script src="/FrontEnd/controllers/employeeServiceMainController.js"></script>
        <script src="/FrontEnd/controllers/addEmployeeServiceController.js"></script>
    </body>
</html>
