<div>
    <h3 ng-model='selectedEmployee'>Työntekijä: {{selectedEmployee.name}}</h3>
    <h3>Duunari: localStorage['valittuTyontekija']</h3>
    
    <a href="#/poista_tyontekija">Poista tyontekija</a><br/>
    <a href="#/tyontekijan_palvelut_paavalikko">Palvelut: lisää/muokkaa/poista</a><br/>
    <a href="#/tyontekija_muokkaa_tietoja">Muokkaa tietoja</a><br/>
    <a href="#/tyontekijan_varaukset_paavalikko">Varaukset: muokkaa/poista</a><br/>
    <a href="#/tyontekija_poissaolot_paavalikko">Poissaolot: lisää/muokkaa/poista</a>
    
</div>