<nav-bar navbar-data='navbarData'></nav-bar>
<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <div customer_login></div>
            <nav>
                <a href="#/asiakas_rekisteroi"><h6 style="color:black">Uusi käyttäjä ?</h6></a>
                <a href="#asiakas_salasana_unohtui"><h6 style="color:black">Unohtuiko salasana ?</h6></a>
            </nav>
            <div id="ajanvarauksen_vaiheet">
                <h4 style="color:deeppink"><b></b>Ajanvarauksen vaiheet</h4>
                <h5 style="color:black"><b>>> 1. Palvelun valinta</b></h5>
                <h5 style="color:black">>> 2. Ajan valinta</h5>
                <h5 style="color:black">>> 3. Varauksen tekeminen</h5>
                <h5 style="color:black">>> 4. Vahvistus</h5>
                <h5 style="color:black">>> 5. Valmis</h5>
            </div>
        </div>
        <div class="col-sm-9 col-md-9">
            <div ng-repeat="servicechoises in serviceChoiseData">
                <h4 style="color:deeppink">{{servicechoises.type}}</h4>
                <h6>{{servicechoises.type2}}</h6>
                <table class="table table-bordered">
                    <tr ng-repeat="servicechoise in servicechoises.data">
                        <td>{{servicechoise.description}}<br/><em>{{servicechoise.extrainfo}}</em></td>
                        <td>{{servicechoise.price}} €</td>
                    </tr>
                </table>
                <br/>
            </div>
        </div>
    </div>
</div>