<nav-bar navbar-data='navbarData'></nav-bar>
<div class='table_container'>
    <h3 ng-model='selectedEmployee'>Työntekijä: {{selectedEmployee.name}}</h3>
    
    <form>
        <label for="selectService"> Valitse palvelu: </label><br>
        <select name="selectedService" ng-model="selected">
            <option value="">---Valitse ole hyvä---</option>
            <option ng-repeat='choise in serviceChoiseData' value="{{choise._id}}">
                        {{choise.category}} {{choise.description}}
            </option>
        </select>
        <input id="saveService" class="btn btn-default" type="button" value="Tallenna" ng-click='saveServiceClicked()'>
    </form>
</div>
