<nav-bar navbar-data='navbarData'></nav-bar>
<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <div><h4 style="color:deeppink">Olet sisäänkirjautunut !</h4></div>
            <nav>
                <a href="#/asiakas_nayta_varaukset"><h6 style="color:deeppink">Näytä omat varaukset</h6></a>
                <a href="#/asiakas_tiedot"><h6 style="color:deeppink">Omat tiedot</h6></a>
                <a href="#/asiakas_kirjaudu_ulos"><h6 style="color:deeppink">Kirjaudu ulos</h6></a>
            </nav><br><br>
            <div id="ajanvarauksen_vaiheet">
                <h4 style="color:deeppink"><b></b>Ajanvarauksen vaiheet</h4>
                <h5 style="color:black"><b>>> 1. Palvelun valinta</b></h5>
                <h5 style="color:black">>> 2. Ajan valinta</h5>
                <h5 style="color:black">>> 3. Varauksen tekeminen</h5>
                <h5 style="color:black">>> 4. Vahvistus</h5>
                <h5 style="color:black">>> 5. Valmis</h5>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <form>
                <label for="employees">Valitse työntekijä</label>
                <select class="form-control" id="employees">
                    <option value="kuka tahansa" selected>Kuka tahansa</option>
                    <option value="anu">Anu</option>
                    <option value="pia">Pia</option>
                    <option option="kusti">Kusti</option>
                </select><br/>
                <label for="services">Valitse palvelu</label>
                <select class="form-control" id="services">
                    <option value="">Valitse</option>
                    <option value="hiustenleikkaukset" disabled><b>Hiusten leikkaukset</b></option>
                    <option value="hiustenleikkaus_0_20min">Hiusten leikkaus 0-20 min</option>
                    <option option="hiustenleikkaus_20_30min">Hiusten leikkaus 20-30 min</option>
                </select><br/>
                <input id="saveServiceSelection" class="btn btn-default" type="button" value="Seuraava >>" ng-click='selectServiceClicked()'>
            </form>
            <div>
                <!-- Tänne jotain !!! -->
            </div>
        </div>
        <div class="col-sm-3 col-md-3"></div>
    </div>
    <!--
    <div>
        <footer style="position: fixed; bottom: 0px; width: 100%; height: 60px; left: 0; background-color: deeppink;" data-dummy="">
                <p>Tämä on footeri</p>
        </footer>
    </div>
    -->
</div>
