<nav-bar navbar-data='navbarData'></nav-bar>
<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <customer_login></customer_login>
            <!--<of-example users="Kauko Hilja"></of-example>-->
            <nav>
                <a href="#/asiakas_rekisteroi"><h6 style="color:deeppink">Uusi käyttäjä ?</h6></a>
                <a href="#asiakas_salasana_unohtui"><h6 style="color:deeppink">Unohtuiko salasana ?</h6></a>
            </nav><br/><br/>
            <div id="ajanvarauksen_vaiheet">
                <h4 style="color:deeppink"><b></b>Ajanvarauksen vaiheet</h4>
                <h5 style="color:black"><b>>> 1. Palvelun valinta</b></h5>
                <h5 style="color:black">>> 2. Ajan valinta</h5>
                <h5 style="color:black">>> 3. Varauksen tekeminen</h5>
                <h5 style="color:black">>> 4. Vahvistus</h5>
                <h5 style="color:black">>> 5. Valmis</h5>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <customer_register></customer_register>
        </div>
        <div class="col-sm-3 col-md-3"></div>
    </div>
</div>
<div class="flash-style" flash-message="4000"></div>

