<nav-bar navbar-data='navbarData'></nav-bar>
<form class="loginForm">
    <h3>Lisää yrityksen tiedot</h3>
    <input class="form-control" type="text" placeholder="nimi" ng-model="name"><br/>
    <input class="form-control" type="text" placeholder="osoite" ng-model="address"><br/>
    <input class="form-control" type="number" placeholder="postinumero" ng-model="postalcode"><br/>
    <input class="form-control" type="text" placeholder="paikkakunta" ng-model="city"><br/>
    <input class="form-control" type="text" placeholder="maa" ng-model="country"><br/>
    <input class="form-control" type="tel" placeholder="puhelinnumero" ng-model="phonenumber"><br/>
    <input id="saveCompany" class="btn btn-default" type="button" value="Tallenna" ng-click='saveCompanyClicked()'>
</form>
<div class="flash-style" flash-message="4000"></div>