<div class="container">
    <div class="row">
    
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-4">
            <p>Date: <input type="text" id="datepicker"></p>
            <!--<p>Date: <div id="datepicker"></div></p>-->
        </div>
        <div class="col-sm-4 col-md-4">
            Column 2
            <a href="#/sisaisille_sivuille">Yrityksen sisäisille sivuille</a>
        </div>
        <div class="col-sm-4 col-md-4">Column 3</div>
    </div>
    <div class="row">
        
    </div>
    <script>
            $(document).ready(function(){
                $("#datepicker").datepicker({dateFormat: "yy-mm-dd",
                                             beforeShowDay: $.datepicker.noWeekends});
            });
    </script>
</div>