<nav-bar navbar-data='navbarData'></nav-bar>
<form class="loginForm">
    <h3>Yrityksen tiedot: muokkaa tai poista</h3>
    <label for="name">Nimi</label>
    <input class="form-control" type="text" id="name" placeholder="nimi" ng-model="name"><br/>
    <label for="address">Osoite</label>
    <input class="form-control" type="text" id="address" placeholder="osoite" ng-model="address"><br/>
    <label for="postalcode">Postinumero</label>
    <input class="form-control" type="number" id="postalcode" placeholder="postinumero" ng-model="postalcode"><br/>
    <label for="city">Paikkakunta</label>
    <input class="form-control" type="text" id="city" placeholder="paikkakunta" ng-model="city"><br/>
    <label for="country">Maa</label>
    <input class="form-control" type="text" id="country" placeholder="maa" ng-model="country"><br/>
    <label for="phonenumber">Puhelinnumero</label>
    <input class="form-control" type="tel" id="phonenumber" placeholder="puhelinnumero" ng-model="phonenumber"><br/>
    <label for="openingtime">Aukeamisaika</label>
    <input class="form-control" type="number" id="openingtime" placeholder="aukeamisaika" ng-model="openingtime"><br/>
    <label for="closingtime">Sulkemisaika</label>
    <input class="form-control" type="number" id="closingtime" placeholder="sulkemisaika" ng-model="closingtime"><br/>
    <label for="timeraster">Aikarasteri [min]</label>
    <input class="form-control" type="number" id="timeraster" placeholder="aikarasteri/min" ng-model="timeraster"><br/>
    <input id="saveCompany" class="btn btn-default" type="button" value="Muokkaa" ng-click='saveCompanyClicked()'>
    <input id="deleteCompany" class="btn btn-default" type="button" value="Poista" ng-click='deleteCompanyClicked()'>
</form>
<div class="flash-style" flash-message="4000"></div>