<nav-bar navbar-data='navbarData'></nav-bar>
<form class='loginForm'>
    <h3 ng-model='companyData'>Parturi-kampaamo {{companyData.name}}: kirjautuminen yksityisille sivuille</h3>
    <input class="form-control" type="text" placeholder="nimi" ng-model="user"><br/>
    <input class="form-control" type="password" placeholder="salasana" ng-model='passwd'><br/>
    <input class="btn btn-default" type="button" value="Kirjaudu" ng-click='loginClicked()'>
</form>
<div class="flash-style" flash-message="2000"></div>

