<nav-bar navbar-data='navbarData'></nav-bar>
<div class='table_container'>
    <h3>Työntekijät...</h3>
    <p> Klikkaa riviä jolla työntekijä on kun haluat<p>
    <p>- poistaa työntekijän tiedot</p>
    <p>- muokata työntekijän tietoja</p>
    <p>- lisätä/poistaa työntekijän palveluita</p>
    <p>- muokata/poistaa työntekijän varaustietoja</p>
    <p>- lisätä/muokata/poistaa työssäolotietoja</p>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Nimi</th>
                <th>Rooli</th>
                <th>Palveluita</th>
                <th>Varauksia</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat='tyontekija in employeeData' ng-click='rowClicked(tyontekija._id)'>
                <td>{{tyontekija.name}}</td>
                <td>{{tyontekija.role}}</td>
                <td>{{tyontekija.services.length}}</td>
                <td>{{tyontekija.assignments.length}}</td>
            </tr>
        </tbody>
    </table>
</div>