<form class="loginForm">
    <h3>Muokkaa ja talleta tiedot</h3>
    <input class="form-control" type="text" placeholder="kategoria" ng-model="category"><br/>
    <input class="form-control" type="text" placeholder="kuvaus" ng-model="description"><br/>
    <input class="form-control" type="number" placeholder="kesto minuutteina" ng-model="duration"><br/>
    <input class="form-control" type="text" placeholder="koodi" ng-model="code"><br/>
    <input class="btn btn-default" type="button" value="Tallenna" ng-click='saveServiceClicked()'>
</form>
