<nav-bar navbar-data='navbarData'></nav-bar>
<form class="loginForm">
    <h3>Lisää uuden työntekijän tiedot</h3>
    <input class="form-control" type="text" placeholder="nimi" ng-model="name"><br/>
    <input class="form-control" type="password" placeholder="salasana" ng-model="passwd"><br/>
    <input class="form-control" type="email" placeholder="sähköposti osoite" ng-model="emailaddr"><br/>
    <select class="form-control" name="userRole" ng-model="selectedRole">
        <option value="admin">admin</option>
        <option value="member" ng-selected>member</option>
    </select><br/>
    <!--<input type="file" name="userImage"><br/>--> <!-- TÄMÄ LISÄTÄÄN -->
    <input id="saveEmployee" class="btn btn-default" type="button" value="Tallenna" ng-click='saveEmployeeClicked()'>
</form>
<div class="flash-style" flash-message="4000"></div>