<nav-bar navbar-data='navbarData'></nav-bar>
<form class="loginForm">
    <h3>Lisää uuden työntekijän tiedot</h3>
    <label for="emplName">Nimi</label>
    <input class="form-control" id="emplName" type="text" placeholder="nimi" ng-model="name"><br/>
    <label for="emplPassword">Salasana</label>
    <input class="form-control" id="emplPassword" type="password" placeholder="salasana" ng-model="passwd"><br/>
    <label for="emplEmail">Sähköpostiosoite</label>
    <input class="form-control" id="emplEmail" type="email" placeholder="sähköposti osoite" ng-model="emailaddr"><br/>
    <label for="emplRole">Rooli</label>
    <select class="form-control" id="emplRole" ng-model="selectedRole" ng-options="role.value as role.name for role in roles" ng-init="selectedRole='member'">
    </select><br/>
    <!--<input type="file" name="userImage"><br/>--> <!-- TÄMÄ LISÄTÄÄN. Tähän kuvan haku -->
    <input id="saveEmployee" class="btn btn-default" type="button" value="Tallenna" ng-click='saveEmployeeClicked()'>
</form>
<div class="flash-style" flash-message="2000"></div>