<nav-bar navbar-data='navbarData'></nav-bar>
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-4">
            <h4 style="color:deeppink">Kirjaudu sisään</h4>
        </div>
        <div class="col-sm-8 col-md-8">
            
        </div>
    </div><br/>
    <div class="row">
        <div class="col-sm-4 col-md-4">
            <h4 style="color:deeppink">Ajanvarauksen vaiheet</h4>
            <h6>>> 1. Palvelun valinta</h6>
            <h6>>> 2. Ajan valinta</h6>
            <h6>>> 3. Varauksen tekeminen</h6>
            <h6>>> 4. Vahvistus</h6>
            <h6>>> 5. Valmis</h6>
        </div>
        <div class="col-sm-8 col-md-8">
            <div ng-model='companyData'>
                <h4 style="color:deeppink">
                    {{companyData[0].name}}
                </h4>
                <h5>
                    {{companyData[0].address}}
                </h5>
                <h5>
                    {{companyData[0].postalCode}} {{companyData[0].city}}
                </h5><br/>
                <h5>Puh: {{companyData[0].phoneNumber}}</h5>
            </div>
        </div>
    </div>
</div>