<div class='table_container'>
    <h1>Työntekijät...</h1>
    <p>Valitse poistettavat työntekijät</p>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Nimi</th>
                <th>Poista</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat='tyontekija in employeeData'>
                <td>{{tyontekija.name}}</td>
                <td><input type="checkbox" ng-click='addToDelete($event,$index,tyontekija._id)'></td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-default" ng-click='sendToDelete()'>Poista Valittu</button>
</div>