<nav-bar navbar-data='navbarData'></nav-bar>
<div class='table_container'>
    <h3 ng-model='selectedEmployee'>Työntekijä: {{selectedEmployee.name}}</h3>
    
    <!--<a href="#/tyontekija_poista">Poista tyontekija</a><br/>-->
    <!--<a href="#/tyontekija_muokkaa_tietoja">Muokkaa työntekijän tietoja</a><br/>-->
    <!--<a href="#/tyontekijan_palvelut_paavalikko">Palvelut: lisää/poista</a><br/>-->
    <!--<a href="#/tyontekijan_varaukset_paavalikko">Varaukset: muokkaa/poista</a><br/>-->
    <!--<a href="#/tyontekijan_poissaolot_paavalikko">Poissaolot: lisää/muokkaa/poista</a>-->
    
</div>