<nav-bar navbar-data='navbarData'></nav-bar>
<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <div><h4 style="color:deeppink" ng-model='customer'>Tervetuloa {{customer.name}} !</h4></div>
            <nav>
                <a href="#/asiakas_tiedot_sisaankirjauduttu"><h6 style="color:deeppink">Omat tiedot</h6></a>
                <a href="/logout"><h6 style="color:deeppink">Kirjaudu ulos</h6></a>
            </nav><br><br>
            <div id="ajanvarauksen_vaiheet">
                <h4 style="color:deeppink"><b></b>Ajanvarauksen vaiheet</h4>
                <h5 style="color:black"><b>>> 1. Palvelun valinta</b></h5>
                <h5 style="color:black">>> 2. Ajan valinta</h5>
                <h5 style="color:black">>> 3. Varauksen tekeminen</h5>
                <h5 style="color:black">>> 4. Vahvistus</h5>
                <h5 style="color:black">>> 5. Valmis</h5>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div><h4 style="color:deeppink">Omat varaukset</h4></div>
            <div><h4 style="color:deeppink">Aikaisemmat varaukset</h4></div>
        </div>
        <div class="col-sm-3 col-md-3">
        
        </div>
    </div>
</div>