<div class='table_container'>
    <h3 ng-model='selectedEmployee'>Työntekijä: {{selectedEmployee.name}}</h3>
    
    <a href="#/tyontekija_lisaa_palvelu">Lisää palvelu</a><br/>
    <a href="#/tyontekija_poista_palvelu">Poista palvelu</a><br/>
    
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Kategoria</th>
                <th>Kuvaus</th>
                <th>Kesto [min]</th>
                <th>Koodi</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat='palvelu in serviceData' ng-click='rowClicked(palvelu._id)'>
                <td>{{palvelu.category}}</td>
                <td>{{palvelu.description}}</td>
                <td>{{palvelu.duration}}</td>
                <td>{{palvelu.code}}</td>
            </tr>
        </tbody>
    </table>
</div>