<nav-bar navbar-data='navbarData'></nav-bar>
<form class="loginForm">
    <h3>Henkilötiedot: muokkaa tai poista</h3>
    <label for="name">Nimi</label>
    <input class="form-control" type="text" id="name" placeholder="nimi" ng-model="name"><br/>
    <label for="passwd">Kuvaus</label>
    <input class="form-control" type="password" id="passwd" placeholder="salasana" ng-model="passwd"><br/>
    <label for="emailaddr">Sähköposti</label>
    <input class="form-control" type="email" id="emailaddr" placeholder="sähköposti osoite" ng-model="emailaddr"><br/>
    <label for="emplrole">Käyttäjän rooli</label>
    <input class="form-control" type="text" id="emplrole" placeholder="käyttäjän rooli" ng-model="emplrole"><br/>
    <input id="saveEmployee" class="btn btn-default" type="button" value="Muokkaa" ng-click='saveEmployeeClicked()'>
    <input id="deleteEmployee" class="btn btn-default" type="button" value="Poista" ng-click='deleteEmployeeClicked()'>
</form>
<div class="flash-style" flash-message="4000" ></div>
