<a href="#/lisaa_tyontekija">Lisää uusi työntekijä</a>
<div class='table_container'>
    <h3>Työntekijät...</h3>
    <p> Klikkaa riviä jolla työntekijä on kun haluat<p>
    <p>- lisätä/muokata/poistaa työntekijän palveluita</p>
    <p>- muokata/poistaa työntekijän tietoja</p>
    <p>- muokata/poistaa työntekijän varaustietoja</p>
    <p>- lisätä/muokata/poistaa työssäolotietoja</p>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Nimi</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat='tyontekija in employeeData' ng-click='rowClicked(tyontekija._id)'>
                <td>{{tyontekija.name}}</td>
            </tr>
        </tbody>
    </table>
</div>