<div class="container">
    <div class="row">
        
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-4">
            <p><div id="datepicker"></div></p>
            
        </div>
        <div class="col-sm-4 col-md-4">
            Column 2
            <a href="#/sisaisille_sivuille">Yrityksen sisäisille sivuille</a>
        </div>
        <div class="col-sm-4 col-md-4">

            <!-- lataa kirjastot: eli Google Maps API. Normaalisti API key liitetään pyyntöön, nyt sitä ei ole -->
            <!--<script src="https://maps.googleapis.com/maps/api/js"></script>-->
            <!-- oma skripti, jossa tehdään juttuja paikkatiedolle -->
            <!--<script src="/FrontEnd/lib/my_location_script.js"></script>-->
            <div class="map_container">
                <!--<h3>Sijaitsemme täällä:</h3>-->
                <h4 ng-model='companyData'>
                    Parturi-kampaamo {{companyData[0].name}}<br/>
                    {{companyData[0].address}}, {{companyData[0].city}}
                </h4>
                <!-- määriteltävä piirtoelementti, annetaan leveys ja korkeus. VAADITAAN -->
                <div id="my_map" style="width:500px;height:380px;"></div>
                <!--<input type="text" placeholder="address,city" id="osoite"/><br/>-->
                <!--<input type="button" value="Get Map" id="getBtn">-->
            </div>
	
        </div>
    </div>
    <div class="row">
        <!--
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>Anu</th>
                    <th>Kirsi</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>08:00</td>
                    <td ng-click='klikattuSolua($event)'>Vapaa</td>
                    <td>Varattu</td>
                </tr>
                <tr>
                    <td>08:15</td>
                    <td>Varattu</td>
                    <td>Vapaa</td>
                </tr>
            </tbody>
        </table>
        -->

        <h3>Työntekijät ja varaukset</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th ng-repeat='tyontekija in employeeData'>
                        {{tyontekija.name}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat='aika in ["08:00","09:00","10:00"]'>
                    <td>{{aika}}</td>
                    <td>Varaa</td>
                </tr>
            </tbody>
        </table>
        
    </div>

</div>
