<nav-bar navbar-data='navbarData'></nav-bar>
<div class='table_container'>
    <h3>Työntekijä: {{selectedEmployee.name}}</h3>
    
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Kategoria</th>
                <th>Kuvaus</th>
                <th>Kesto / min</th>
                <th>Hinta / €</th>
            </tr>
        </thead>
        <tbody>
            <!--<tr ng-repeat='palvelu in serviceData' ng-click='rowClicked(palvelu._id)'>-->
            <tr ng-repeat='palvelu in serviceData'>
                <td>{{palvelu.category}}</td>
                <td>{{palvelu.description}}</td>
                <td>{{palvelu.duration}}</td>
                <td>{{palvelu.price}}</td>
            </tr>
        </tbody>
    </table>
</div>