<form class="loginForm">
    <h3>Lisää uuden palvelun tiedot</h3>
    <input class="form-control" type="text" placeholder="kategoria" ng-model="category"><br/>
    <input class="form-control" type="text" placeholder="kuvaus" ng-model="description"><br/>
    <input class="form-control" type="number" placeholder="kesto minuutteina" ng-model="timelength"><br/>
    <input class="form-control" type="number" placeholder="koodi" ng-model="code"><br/>
    <input id="saveService" class="btn btn-default" type="button" value="Tallenna" ng-click='saveServiceClicked()'>
</form>
<div class="flash-style" flash-message="2000"></div>