<div>
    <form name="form" novalidate ng-submit="submit()" ng-controller="customerRegisterController">
        <h4 style="color:deeppink">Rekisteröidy ajanvarauspalveluun</h4><br/>
        <h5>Rekisteröitymällä palveluun varaushistoriasi on aina nähtävilläsi.</h5>
        <h5>Rekisteröitymisellä estetään myös väärien varausten tekeminen ja</h5>
        <h5>parannetaan näin asiakaspalvelua kaikkia asiakkaita kohtaan.</h5>
        <h5><b>Rekisteröityminen suoritetaan vain kerran, tämän jälkeen voit</b></h5>
        <h5><b>käyttää palvelua ilmaiseksi.</b></h5><br/>
        <h5><b>Suosittelemme täyttämään myös sähköpostiosoitteesi, sillä mm.</b></h5>
        <h5><b>salasanan palautukset tulee suoraan sähköpostiisi.</b></h5>
        <input class="form-control" type="text" placeholder="Käyttäjänimi" name="uUsername" ng-model="user.username" required>
        <div ng-show="form.$submitted || form.uUsername.$touched">
            <div style="color:red" ng-show="form.uUsername.$error.required">Käyttäjänimi puuttuu.</div>
        </div>
        <input class="form-control" type="email" placeholder="Sähköpostiosoite" name="uEmail" ng-model="user.email" required>
        <div ng-show="form.$submitted || form.uEmail.$touched">
            <span style="color:red" ng-show="form.uEmail.$error.required">Sähköpostiosoite puuttuu.</span>
            <span style="color:red" ng-show="form.uEmail.$error.email">Sähköpostiosoite ei ole oikeaa muotoa.</span>
        </div>
        <input class="form-control" type="tel" placeholder="Puhelinnumero" ng-model="user.phone">
        <input class="form-control" type="password" placeholder="Salasana" name="uPasswd" ng-model="user.passwd" required>
        <div ng-show="form.$submitted || form.uPasswd.$touched">
            <div style="color:red" ng-show="form.uPasswd.$error.required">Salasana puuttuu.</div>
        </div>
        <input type="submit" id="submit" value="Rekisteröidy"><br>
    </form>
</div>
